.chart {
  width: fit-content;
  margin: 0 auto;
  display: flex;
  padding: 10px;
  border-radius: 24px;
  justify-content: center;
  align-items: center;
  margin-top: 140px;
  background-color: white;
  box-shadow: 1px 1px 4px rgb(126, 126, 126);
  font-size: 24px;
}

@media screen and (max-width: 1400px) {
  .chart {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
  }
}
